# for CentOS7(ansible)
#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512

# Use CDROM installation media
cdrom

# Use graphical install
text

# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda

# Keyboard layouts
keyboard --vckeymap=jp --xlayouts='jp'
# System language
lang ja_JP.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --onboot=on --noipv6
network  --bootproto=static --device=enp0s8 --ip=192.168.0.20 --netmask=255.255.255.0 --onboot=on --noipv6
network  --hostname=client.localdomain

# Root password
rootpw --iscrypted $6$mQjXSDXSP8NeXQfC$8fuIOvJkC9Zq0AUxVrbaRrE.EiLaqxU879QvC/FqK.Dhe5/hwdZq5LWi78WtalzYiIPSRGiIr6AG42wyK7Akx0
# System timezone
timezone Asia/Tokyo --isUtc

# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --all --initlabel --drives sda

# Disk partitioning information
part pv.295 --fstype="lvmpv" --ondisk=sda --size=1    --grow
part /boot  --fstype="xfs"   --ondisk=sda --size=500  --label=boot
volgroup rootvg --pesize=4096 pv.295
logvol swap  --fstype="swap" --size=256        --name=swaplv --vgname=rootvg
logvol /home --fstype="xfs"  --size=100        --name=homelv --vgname=rootvg --label="home" 
logvol /     --fstype="xfs"  --size=1   --grow --name=rootlv --vgname=rootvg --label="root" 

%packages
@^minimal
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end
