#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512

# Use CDROM installation media
cdrom

# Select Install mode. graphical:Use graphical install, text:Use text install.
#graphical
text

# Run the Setup Agent on first boot
firstboot --enable

# Keyboard layouts
keyboard --vckeymap=jp --xlayouts='jp'

# System language
lang ja_JP.UTF-8

# Network information
network  --bootproto=dhcp   --device=enp0s3 --noipv6 --activate
network  --bootproto=static --device=enp0s8 --ip=192.168.0.20 --netmask=255.255.255.0 --nodefroute --noipv6 --activate
network  --hostname=client

# Root password( ENCRYPT_PASSWORD is generated in the following commmand.)
# python -c 'import crypt; print(crypt.crypt("ENCRYPT_PASSWORD", crypt.METHOD_SHA512))'
rootpw --iscrypted $6$BPphSjFtM9WdsQrV$Q8/k9.hvYwQDCFyiEdVvASznp63aDM/eqg3We6yl/ubiCi3G7qeyX4zVZxyap.l1UaYCiaiAmRJimozqhcdKV.

# System services
services --enabled="chronyd"

# Enable Firewall
firewall --enabled --ssh

# System timezone
timezone Asia/Tokyo --isUtc

# Only sda hdd
ignoredisk --only-use=sda
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --all --initlabel --drives sda
part /boot --fstype="xfs"   --label="boot" --size=500 --ondisk=sda --asprimary
part pv.20 --fstype="lvmpv" --grow         --size=1   --ondisk=sda --asprimary
volgroup rootvg pv.20
logvol swap  --fstype="swap" --name=swaplv --vgname=rootvg --size=512
logvol /     --fstype="xfs"  --name=rootlv --vgname=rootvg --size=1   --grow --label="root"

%packages
@^server-product-environment
@ansible-node
chrony

%end

%addon com_redhat_kdump --disable --reserve-mb='128'

%end

%anaconda
pwpolicy root --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy user --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
%end

# Reboot after the installation is complete.(eject DVD media before rebooting)
reboot --eject
